@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500&display=swap);
.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0);
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-list,
.slick-slide div,
.slick-track {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot?pf97s8);
  src: url(../fonts/icomoon.eot?pf97s8#iefix) format("embedded-opentype"),
    url(../fonts/icomoon.ttf?pf97s8) format("truetype"),
    url(../fonts/icomoon.woff?pf97s8) format("woff"),
    url(../fonts/icomoon.svg?pf97s8#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-calendar:before {
  content: "\f073";
}
.icon-facebook-f:before,
.icon-facebook:before {
  content: "\f09a";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-vk:before {
  content: "\f189";
}
.icon-rouble:before {
  content: "\e90f";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e900";
}
.icon-monetization_on:before {
  content: "\e901";
}
.icon-desktop_mac:before {
  content: "\e903";
}
.icon-camera_roll:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e906";
}
.icon-train:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-align-justify:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-message-square:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-airplay:before {
  content: "\e918";
}
.icon-play_arrow:before {
  content: "\e919";
}
.icon-arrow-left:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e91a";
}
.icon-dehaze:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google:before {
  content: "\ea88";
}
.icon-location2:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-email:before {
  content: "\e91c";
}
/* @font-face {
font-family: YanoneKaffeesatz;
src:
local(PrYanoneKaffeesatz-Regular),
url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'),
url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype'),
url('../fonts/YanoneKaffeesatz-Regular}') format('embedded-opentype'),
url('../fonts/YanoneKaffeesatz-Regular.svg  ') format('svg'),
url('../fonts/YanoneKaffeesatz-Regular.otf  '),
url('../fonts/YanoneKaffeesatz-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
} */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pf97s8");
  src: url("../fonts/icomoon.eot?pf97s8#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?pf97s8") format("truetype"),
    url("../fonts/icomoon.woff?pf97s8") format("woff"),
    url("../fonts/icomoon.svg?pf97s8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\f073";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-vk:before {
  content: "\f189";
}
.icon-rouble:before {
  content: "\e90f";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e900";
}
.icon-monetization_on:before {
  content: "\e901";
}
.icon-desktop_mac:before {
  content: "\e903";
}
.icon-camera_roll:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e906";
}
.icon-train:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-align-justify:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-message-square:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-airplay:before {
  content: "\e918";
}
.icon-play_arrow:before {
  content: "\e919";
}
.icon-arrow-left:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e91a";
}
.icon-dehaze:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google:before {
  content: "\ea88";
}
.icon-location2:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-email:before {
  content: "\e91c";
}
.flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fdc,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.center,
.jucc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.center,
.jucc,
.jucs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.jucs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.juce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jucb,
.juce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.jucb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.juca {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.alis,
.juca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alis {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.alie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.alic,
.alie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.m40 {
  margin: 40px 0 0 !important;
}
.r {
  background: red;
}
.b {
  background: #00f;
}
.g {
  background: green;
}
.border {
  border: 1px solid #05a20e;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus,
a:active,
a:focus {
  outline: none;
}
aside,
footer,
header,
nav,
section {
  display: block;
}
body,
html {
  height: 100%;
  max-width: 100vw;
}
body {
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
button,
input,
textarea {
  resize: none;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none !important;
}
a:active,
a:hover {
  outline: 0;
}
a:visited {
  text-decoration: none !important;
}
img {
  vertical-align: top;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
audio,
img,
video {
  max-width: 100%;
  height: auto;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button,
input,
select,
textarea {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
.btn {
  border: none !important;
  outline: none !important;
  border-radius: 5px;
  diplay: inline-block;
  font-family: Oswald, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.btn,
.btn:after {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
.btn:hover:after,
.btn > .button-helper {
  opacity: 0;
}
.btn:hover > .button-helper {
  opacity: 1;
}
.button-helper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  border-radius: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.btn--cross i,
.btn--light i {
  margin: 0;
  font-size: 20px;
}
.btn--cross:hover,
.btn--light:hover {
  background-color: #d4e8cc;
  color: #98c787;
}
.btn--cross:focus,
.btn--cross:hover,
.btn--light:focus,
.btn--light:hover {
  border: 1px solid #609e4a !important;
  -webkit-box-shadow: 0 0 20px #b1b1b1 !important;
  box-shadow: 0 0 20px #b1b1b1 !important;
}
.btn--cross:focus,
.btn--light:focus {
  background-color: #98c787;
  color: #fff;
}
.btn--cross:focus > span,
.btn--light:focus > span {
  color: #fff;
}
.btn--success {
  color: #fff;
  background-color: #7ab764;
}
.btn--success-icon i {
  margin: 0 14px 0 0;
  font-size: 20px;
}
.btn--success-icon span {
  margin: 0;
}
.btn--success-icon:hover i,
.btn--success-icon:hover span {
  color: #98c787;
}
.btn--success-icon:focus i,
.btn--success-icon:focus span {
  color: #fff;
}
.btn--empty {
  background-color: #fff;
  border: 1px solid #757575;
  border-radius: 5px;
}
.btn--empty:hover {
  background-color: #d4e8cc;
  border: 1px solid #609e4a !important;
  -webkit-box-shadow: 0 0 20px #b1b1b1 !important;
  box-shadow: 0 0 20px #b1b1b1 !important;
  color: #98c787;
}
.btn--empty:hover i,
.btn--empty:hover span {
  color: #98c787;
}
.btn--empty:focus {
  border: 1px solid #609e4a !important;
  background-color: #98c787;
  -webkit-box-shadow: 0 0 20px #b1b1b1 !important;
  box-shadow: 0 0 20px #b1b1b1 !important;
  color: #fff;
}
.btn--empty:focus i,
.btn--empty:focus span {
  color: #fff;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #222;
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
a {
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #181818;
}
a:hover {
  color: #0c1309;
  cursor: pointer;
}
.lock {
  overflow: hidden;
}
.active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.scroll-block::-webkit-scrollbar-track {
  border-radius: 4px;
}
.scroll-block::-webkit-scrollbar {
  width: 10px;
}
.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}
.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #ececec;
}
.border-bg {
  border: 1px solid #d7ccc8;
  background-color: #fff;
  border-radius: 5px;
}
.m2 {
  margin: 2px 0 0 !important;
}
.m3 {
  margin: 3px 0 0 !important;
}
.m4 {
  margin: 4px 0 0 !important;
}
.m5 {
  margin: 5px 0 0 !important;
}
.m6 {
  margin: 6px 0 0 !important;
}
.m7 {
  margin: 7px 0 0 !important;
}
.m8 {
  margin: 8px 0 0 !important;
}
.m9 {
  margin: 9px 0 0 !important;
}
.m10 {
  margin: 10px 0 0 !important;
}
.m11 {
  margin: 11px 0 0 !important;
}
.m12 {
  margin: 12px 0 0 !important;
}
.m13 {
  margin: 13px 0 0 !important;
}
.m14 {
  margin: 14px 0 0 !important;
}
.m15 {
  margin: 15px 0 0 !important;
}
.m16 {
  margin: 16px 0 0 !important;
}
.m17 {
  margin: 17px 0 0 !important;
}
.m18 {
  margin: 18px 0 0 !important;
}
.m19 {
  margin: 19px 0 0 !important;
}
.m20 {
  margin: 20px 0 0 !important;
}
.title-1 {
  font-family: Yanone Kaffeesatz, sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}
.header {
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(34, 34, 34, 0.08);
  box-shadow: 0 4px 12px 0 rgba(34, 34, 34, 0.08);
  background-color: #fff;
}
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: hsla(0, 0%, 96.1%, 0.9);
}
.header__body {
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 245px 165px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "logo  info menu ";
}
.header__burger {
  display: none;
}
.header__logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.header__logo img {
  height: 40px;
  height: 24px;
}
.header__info {
  margin: 0 0 0 25px;
  position: relative;
  grid-area: info;
}
.info {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.info__language {
  padding: 0 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}
.header__menu {
  position: relative;
  grid-area: menu;
  padding: 0 0 0 18%;
}
.header__close,
.header__mask {
  display: none;
}
.menu__link--contacts,
.menu__link--map {
  margin: 0 30px 0 0;
}
.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: 84px;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  bottom: 93px;
}
.menu__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__item,
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.menu__item {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu__item img {
  display: none;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.menu__link:hover {
  cursor: pointer;
  color: #b84dc4;
}
.bunner {
  margin: 0 0 169px;
}
.bunner__body {
  padding: 187px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.bunner__title {
  width: 46%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 43px;
  font-family: Yanone Kaffeesatz, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
}
.bunner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 294px;
  height: 59px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  border-radius: 100px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#d04ed6),
    to(#834d9b)
  );
  background-image: -o-linear-gradient(bottom, #d04ed6, #834d9b);
  background-image: linear-gradient(0deg, #d04ed6, #834d9b);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bunner__button:after {
  -webkit-box-shadow: 0 10px 25px rgba(184, 77, 196, 0.33);
  box-shadow: 0 10px 25px rgba(184, 77, 196, 0.33);
}
.bunner__button span {
  position: relative;
  z-index: 2;
  letter-spacing: 0.6px;
}
.bunner__button:hover {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.bunner__button:hover > .button-helper--first {
  opacity: 1;
}
.bunner__img {
  background-image: url(../img/home/mail-illustration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 0 0 33.5%;
  position: absolute;
  width: 46%;
  height: auto;
  top: 100px;
  left: auto;
  right: 0;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.info {
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.info,
.info__language {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}
.info__language {
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.info__language img {
  margin: 0 10px 0 0;
}
.info__language:hover {
  cursor: pointer;
}
.info__drop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 100%;
  left: 0;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  -webkit-box-shadow: 0 10px 12px 0 rgba(34, 34, 34, 0.1);
  box-shadow: 0 10px 12px 0 rgba(34, 34, 34, 0.1);
  background-color: #fff;
  z-index: 2000;
}
.info-drop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 38px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.info-drop__item:hover {
  background-color: rgba(45, 156, 219, 0.15);
}
.info__language--drop:hover {
  cursor: pointer !important;
}
.button-helper--first {
  background: -o-linear-gradient(154.37deg, #ee6cf4 15.94%, #a16bb9 83.51%);
  background: linear-gradient(295.63deg, #ee6cf4 15.94%, #a16bb9 83.51%);
}
.info-drop-js {
  display: none;
}
.footer {
  -webkit-box-shadow: 0 -2px 15px 0 rgba(34, 34, 34, 0.12);
  box-shadow: 0 -2px 15px 0 rgba(34, 34, 34, 0.12);
  margin: 100px 0 0;
  padding: 0 0 60px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__item:not(.footer__item:first-child) {
  margin: 0 51px 0 0;
}
.footer__item:last-child {
  margin: 0 !important;
}
.footer__item:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 31%;
  flex: 1 1 31%;
}
.info__language--footer {
  padding: 0;
}
.info__language--footer:hover {
  cursor: default;
  color: #222;
}
.footer-item__title {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  padding: 0 0 10px;
}
.footer-item__title:hover {
  cursor: pointer;
  color: #b84dc4;
}
.footer__body {
  padding: 30px 0 0;
}
.footer-item__logo {
  margin: 0 0 21px;
}
.footer-item__point {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  padding: 7px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer-item__point:hover {
  cursor: pointer;
  color: #b84dc4;
}
.footer-item__point:first-of-type {
  padding: 0;
}
.footer-item__point--top {
  padding: 10px 0 0;
}
.home-section {
  margin: 0 0 100px;
}
.home-section:not(.home-section:first-of-type) {
  margin: 0 0 80px;
}
.search__cards {
  margin: 35px 0 0;
}
.search-cards,
.search-cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search-cards-card {
  width: 170px;
  height: 190px;
  border-radius: 3px7;
  -webkit-box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12);
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12);
  background-color: #fff;
  text-align: center;
  padding: 20px 16px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.search-cards-card:hover {
  cursor: pointer;
}
.popular__cards--add,
.search__cards--add {
  display: none;
}
.search-cards-card__img {
  width: 72px;
  height: 72px;
}
.search-cards-card__title {
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  min-height: 22%;
  margin: 0 0 25px;
}
.search-cards__card {
  border-radius: 3px;
}
.search-cards__card--birthday {
  height: auto;
  min-height: 312px;
  width: 31.67%;
  overflow: hidden;
  display: table;
  padding: 33px 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12);
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.12);
  background-color: #fff;
}
.search-cards__card--birthday:hover {
  background-color: #e7d9ea;
}
.search-cards-card__img--birthday {
  width: 40px;
  height: 12px;
}
.search-cards-card__img--birthday-top {
  margin: 0 0 10px;
}
.search-cards-card__img--birthday-bottom {
  margin: 10px 0 0;
}
.search-cards-card__title--birthday {
  width: 100% !important;
  display: table-cell;
  vertical-align: middle;
}
.search-cards-card__title--drop {
  width: 100%;
  display: none;
}
.search-cards-card__add {
  background-color: #fff;
  -webkit-box-shadow: 0 -25px 15px -10px #fff;
  box-shadow: 0 -25px 15px -10px #fff;
  padding: 9px 0 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: #5fcef5;
  position: absolute;
  width: 100%;
  height: 60px;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.home-section__button {
  width: 261px;
  height: 59px;
  border-radius: 100px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#5b86e5),
    to(#36d1dc)
  );
  background: -o-linear-gradient(bottom, #5b86e5, #36d1dc);
  background: linear-gradient(0deg, #5b86e5, #36d1dc);
  margin: 40px auto;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  border: none !important;
}
.home-section__button span {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.home-section__button--birthday:after {
  -webkit-box-shadow: 0 10px 25px rgba(71, 174, 224, 0.33);
  box-shadow: 0 10px 25px rgba(71, 174, 224, 0.33);
}
.button-helper--birthday {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#6f9af5),
    to(#4ae5f0)
  );
  background: -o-linear-gradient(bottom, #6f9af5, #4ae5f0);
  background: linear-gradient(0deg, #6f9af5, #4ae5f0);
}
.search-cards-card__text {
  padding: 0 40px;
  text-align: left;
}
.home-section__button--toasts {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff512f),
    to(#f09819)
  );
  background: -o-linear-gradient(bottom, #ff512f, #f09819);
  background: linear-gradient(0deg, #ff512f, #f09819);
  position: relative;
  width: 192px;
  height: 60px;
}
.home-section__button--toasts:after {
  -webkit-box-shadow: 0 10px 25px rgba(247, 116, 36, 0.35);
  box-shadow: 0 10px 25px rgba(247, 116, 36, 0.35);
}
.home-section__button--toasts:hover {
  cursor: pointer;
}
.button-helper--toasts {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff5143),
    to(#ffac2d)
  );
  background: -o-linear-gradient(bottom, #ff5143, #ffac2d);
  background: linear-gradient(0deg, #ff5143, #ffac2d);
}
.search-cards-card__add--toast {
  color: #f77424;
}
.home-section__button--popular {
  background: -o-linear-gradient(154.37deg, #f85032 15.94%, #e73827 83.51%);
  background: linear-gradient(295.63deg, #f85032 15.94%, #e73827 83.51%);
  width: 216px;
  height: 60px;
}
.home-section__button--popular:after {
  -webkit-box-shadow: 0 10px 25px rgba(244, 74, 47, 0.33);
  box-shadow: 0 10px 25px rgba(244, 74, 47, 0.33);
}
.button-helper--popular {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff6446),
    to(#fb4c3b)
  );
  background: -o-linear-gradient(bottom, #ff6446, #fb4c3b);
  background: linear-gradient(0deg, #ff6446, #fb4c3b);
}
.popular-cards {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}
.popular-cards__long {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.popular-cards__high,
.popular-cards__long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular-cards__high {
  grid-row: span 2;
}
.popular-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-height: 252px;
  margin: 0 15px 0 0;
}
.popular-cards__card:last-child {
  margin: 0;
}
.popular-cards__card img {
  min-height: 252px;
}
.popular-cards__card:hover {
  cursor: pointer;
}
.popular__cards {
  margin: 32px 0 0;
}
.search-cards__card--toast:hover {
  background-color: #cfebd2;
}
.hint {
  position: relative;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 107px;
  height: 38px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}
.hint,
.hint:after {
  background-color: #557174;
}
.hint:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  left: 20px;
  z-index: 2;
  -webkit-transform: translate(0) rotate(45deg);
  -ms-transform: translate(0) rotate(45deg);
  transform: translate(0) rotate(45deg);
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
  .title-1 {
    font-size: 24px;
    text-align: center;
    padding: 0 51px;
  }
  .header__body {
    grid-template-columns: 147px 165px 1fr;
    padding: 0 20px;
  }
  .header__burger {
    font-size: 20px;
    display: inline-block;
    color: #181818;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: auto;
    right: 24px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header__burger:hover {
    cursor: pointer;
  }
  .header__info {
    margin: 0 0 0 10px;
  }
  .info__language {
    font-size: 12px;
  }
  .header__menu {
    width: 100vw;
    min-height: 100vh;
    top: 64px;
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
    padding: 88px 20px 0 83px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    z-index: 1000;
  }
  .header__mask,
  .header__menu {
    position: fixed;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header__mask {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    display: block !important;
  }
  .header__close {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: -46px;
    left: auto;
    right: -40px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    color: #fff;
    font-size: 20px;
    z-index: 10000;
  }
  .header__close:hover {
    cursor: pointer;
  }
  .menu__link--contacts,
  .menu__link--map {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
  }
  .menu-active {
    -webkit-transform: translateX(-64px);
    -ms-transform: translateX(-64px);
    transform: translateX(-64px);
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .menu__item {
    margin: 0 0 13px;
  }
  .menu__item img {
    display: block;
    margin: 0 8px 0 0;
  }
  .menu__item:last-child {
    margin: 0 0 30px;
  }
  .menu__link {
    font-size: 14px;
  }
  .bunner {
    margin: 0 0 40px;
    padding: 85px 0 0;
  }
  .bunner__title {
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin: 40px 0 43px;
  }
  .bunner__button {
    width: 230px;
    height: 45px;
    font-size: 14px;
    margin: 0 auto;
  }
  .bunner__img {
    width: 100%;
    padding: 0 0 62.8%;
    position: relative;
    top: 0;
  }
  .info__language img {
    width: 18px;
    height: 12px;
    margin: 0 8px 0 0;
  }
  .footer {
    padding: 0;
    margin: 100px 0 -20px;
  }
  .footer__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 20px;
  }
  .footer__item:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .footer__item:not(.footer__item:first-child) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    margin: 0 0 20px;
  }
  .footer-item__title {
    font-size: 14px;
  }
  .footer-item__logo {
    width: 196px;
    height: 32px;
  }
  .footer-item__point {
    font-size: 13px;
  }
  .search-cards-card {
    width: 154px;
    height: 154px;
  }
  .search-cards-card__img {
    width: 64px;
    height: 64px;
  }
  .search-cards-card__title {
    font-size: 14px;
  }
  .search-cards__card {
    margin: 0 0 12px;
    border-radius: 3px;
  }
  .search-cards__card--birthday {
    width: 100%;
    min-height: auto;
    padding: 30px 0;
    margin: 0 0 20px;
  }
  .search-cards-card__img--birthday {
    width: 40px;
    height: 12px;
  }
  .search-cards-card__title--birthday {
    margin: 0;
    display: block;
  }
  .search-cards-card__title--drop {
    display: block;
    font-size: 14px;
  }
  .search-cards-card__add {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header {
    height: 60px;
  }
}
