@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Roboto:wght@900&display=swap);
.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0);
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-list,
.slick-slide div,
.slick-track {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot?pf97s8);
  src: url(../fonts/icomoon.eot?pf97s8#iefix) format("embedded-opentype"),
    url(../fonts/icomoon.ttf?pf97s8) format("truetype"),
    url(../fonts/icomoon.woff?pf97s8) format("woff"),
    url(../fonts/icomoon.svg?pf97s8#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-calendar:before {
  content: "\f073";
}
.icon-facebook-f:before,
.icon-facebook:before {
  content: "\f09a";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-vk:before {
  content: "\f189";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e900";
}
.icon-monetization_on:before {
  content: "\e901";
}
.icon-desktop_mac:before {
  content: "\e903";
}
.icon-camera_roll:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e906";
}
.icon-train:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-align-justify:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-eye:before {
  content: "\e912";
}
.icon-message-square:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-home:before {
  content: "\e915";
}
.icon-share:before {
  content: "\e916";
}
.icon-airplay:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google:before {
  content: "\ea88";
}
.icon-location2:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-email:before {
  content: "\e918";
}
/* @font-face {
font-family: ProximaNova-Regular;
src:
local(ProximaNova-Regular),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
url('../fonts/ProximaNova-Regular}') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.svg  ') format('svg'),
url('../fonts/ProximaNova-Regular.otf  '),
url('../fonts/ProximaNova-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
} */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pf97s8");
  src: url("../fonts/icomoon.eot?pf97s8#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?pf97s8") format("truetype"),
    url("../fonts/icomoon.woff?pf97s8") format("woff"),
    url("../fonts/icomoon.svg?pf97s8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\f073";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-vk:before {
  content: "\f189";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e900";
}
.icon-monetization_on:before {
  content: "\e901";
}
.icon-desktop_mac:before {
  content: "\e903";
}
.icon-camera_roll:before {
  content: "\e904";
}
.icon-people_outline:before {
  content: "\e906";
}
.icon-train:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-align-justify:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-eye:before {
  content: "\e912";
}
.icon-message-square:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-home:before {
  content: "\e915";
}
.icon-share:before {
  content: "\e916";
}
.icon-airplay:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e942";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google:before {
  content: "\ea88";
}
.icon-location2:before {
  content: "\e948";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-email:before {
  content: "\e918";
}

.flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fdc,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.center,
.jucc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.center,
.jucc,
.jucs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.jucs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.juce {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jucb,
.juce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.jucb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.juca {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.alis,
.juca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alis {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.alie {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.alic,
.alie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.m2 {
  margin: 2px 0 0 !important;
}
.m3 {
  margin: 3px 0 0 !important;
}
.m4 {
  margin: 4px 0 0 !important;
}
.m5 {
  margin: 5px 0 0 !important;
}
.m6 {
  margin: 6px 0 0 !important;
}
.m7 {
  margin: 7px 0 0 !important;
}
.m8 {
  margin: 8px 0 0 !important;
}
.m9 {
  margin: 9px 0 0 !important;
}
.m10 {
  margin: 10px 0 0 !important;
}
.m11 {
  margin: 11px 0 0 !important;
}
.m12 {
  margin: 12px 0 0 !important;
}
.m13 {
  margin: 13px 0 0 !important;
}
.m14 {
  margin: 14px 0 0 !important;
}
.m15 {
  margin: 15px 0 0 !important;
}
.m16 {
  margin: 16px 0 0 !important;
}
.m17 {
  margin: 17px 0 0 !important;
}
.m18 {
  margin: 18px 0 0 !important;
}
.m19 {
  margin: 19px 0 0 !important;
}
.m20 {
  margin: 20px 0 0 !important;
}
.m40 {
  margin: 40px 0 0 !important;
}
.r {
  background: red;
}
.b {
  background: #00f;
}
.g {
  background: green;
}
.border {
  border: 1px solid #05a20e;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus,
a:active,
a:focus {
  outline: none;
}
aside,
footer,
header,
nav,
section {
  display: block;
}
body,
html {
  height: 100%;
  max-width: 100vw;
}
body {
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
button,
input,
textarea {
  resize: none;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none !important;
}
a:active,
a:hover {
  outline: 0;
}
a:visited {
  text-decoration: none !important;
}
img {
  vertical-align: top;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
audio,
img,
video {
  max-width: 100%;
  height: auto;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button,
input,
select,
textarea {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
html {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #000;
}
body {
  background-color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}
.btn {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  diplay: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn--success {
  color: #fff;
  background-color: #00a2d7;
}
.btn--success:hover {
  background-color: #71dcff;
  color: #0bc3ff;
}
.btn--success:focus,
.btn--success:hover {
  border: 1px solid #007ca4 !important;
  -webkit-box-shadow: 0 0 20px #fff !important;
  box-shadow: 0 0 20px #fff !important;
}
.btn--success:focus {
  background-color: #0bc3ff;
  color: #fff;
}
.btn--empty {
  background-color: #fff;
  border: 1px solid #00a2d7;
}
.btn--empty:hover {
  background-color: #71dcff;
  color: #0bc3ff;
}
.btn--empty:focus,
.btn--empty:hover {
  border: 1px solid #007ca4 !important;
  -webkit-box-shadow: 0 0 20px #fff !important;
  box-shadow: 0 0 20px #fff !important;
}
.btn--empty:focus {
  background-color: #0bc3ff;
  color: #fff;
}
.header .block__select {
  position: relative;
  width: 10.5rem;
  cursor: pointer;
}
.header .block__icon {
  font-size: 2rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}
.header .block__icon:hover {
  cursor: pointer;
}
.header .img-active {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.header .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 5;
}
.header .new-select {
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.header .new-select:hover {
  cursor: pointer;
  color: #00a2d7;
}
.header .new-select.on:hover {
  cursor: pointer;
}
.header .new-select__list {
  border: 1px solid #546e7a;
  position: absolute;
  width: 100%;
  height: auto;
  top: 4.1rem;
  left: 0;
  z-index: 2;
  background-color: hsla(0, 0%, 96.1%, 0.9);
}
.header .new-select__item {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}
.header .new-select__item:hover {
  cursor: pointer;
  color: #00a2d7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0 auto;
  font-weight: 400;
}
.main-title h2 {
  font-size: 7rem;
  line-height: 8.5rem;
}
.main-title h2,
.title-1 h2 {
  font-weight: 800;
  text-transform: uppercase;
}
.title-1 h2 {
  font-size: 5rem;
  line-height: 6.1rem;
}
.btn--cross,
.btn--light {
  border: 1px solid #000;
  width: 25.8rem;
  height: 6.5rem;
  background-color: #fff;
  border-radius: 16.3rem;
}
.btn--cross i,
.btn--light i {
  margin: 0;
  font-size: 20px;
}
.btn--cross:focus,
.btn--cross:hover,
.btn--light:focus,
.btn--light:hover {
  background-color: #000;
  border: 0.1rem solid trasparent;
  color: #fff;
}
.btn--success-icon i {
  margin: 0 14px 0 0;
  font-size: 20px;
}
.btn--success-icon span {
  margin: 0;
}
.btn--success-icon:hover i,
.btn--success-icon:hover span {
  color: #0bc3ff;
}
.btn--success-icon:focus i,
.btn--success-icon:focus span {
  color: #fff;
}
.up_down_btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #00a2d7;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 200;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.up_down_btn span {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.up_down_btn:hover {
  text-decoration: none;
  opacity: 1;
}
.up_down_btn-show {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.up_down_btn-show span {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.up_down_btn-show p,
.up_down_btn-show span {
  background-image: url(../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: 5;
  width: 1.2rem;
  height: 2.5rem;
}
.up_down_btn-show p {
  -webkit-transform: translate(0) rotate(-90deg);
  -ms-transform: translate(0) rotate(-90deg);
  transform: translate(0) rotate(-90deg);
}
.up_down_btn-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
a {
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #181818;
}
a:hover {
  color: #000;
  cursor: pointer;
}
.lock {
  overflow: hidden;
}
.active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.text-block-item__text {
  padding: 20px 0 0;
}
.header {
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  height: 6.4rem;
  margin: 1.8rem 0 0;
  background-color: rgba(0, 0, 0, 0);
}
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: hsla(0, 0%, 96.1%, 0.9);
  margin: 0;
}
.header__body {
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 19.7rem 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "logo menu info";
}
.header__burger {
  display: none;
}
.header__burger:hover {
  cursor: pointer;
}
.header__logo {
  grid-area: logo;
}
.header__logo img {
  display: block;
  height: 100%;
}
.header__menu {
  position: relative;
  grid-area: menu;
}
.header__close {
  display: none;
}
.menu__item,
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.menu__item {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 2.7rem 0 0;
}
.menu__item:last-child {
  margin: 0;
}
.menu__item:hover > .menu__link {
  color: #00a2d7;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu__link--active {
  background-color: #00a2d7;
  color: #fff;
}
.info__item {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info__item:last-child {
  margin: 0;
}
.info__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.header__info {
  grid-area: info;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider-main-js {
  max-height: 100%;
}
.slider-cards__slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 18px;
  max-height: 100vh;
}
.slider-cards__content {
  width: 100%;
}
.slider-cards__item {
  padding: 0;
  min-height: 100%;
}
.slider-card__order {
  width: 15.6rem;
  height: 15.6rem;
  border: 1px solid #00a2d7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 7.2rem 0 0 6.4rem;
}
.slider-card__order:after {
  content: "";
  background-image: url(../img/svg/arrow-long.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  width: 7.6rem;
  height: 0.5rem;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider-card__order span {
  color: #00a2d7;
  margin: 0 0 0 3.8rem;
}
.slider-card {
  display: grid !important;
  position: relative;
}
.slider-card__title {
  padding: 19rem 45.5rem 0 0;
  z-index: 2;
}
.slider-card__img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.slider-cards .slider__body {
  width: 100%;
  height: 100%;
  height: 100vh;
}
.slider-cards .slick-dots {
  position: absolute;
  bottom: 3.2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 117rem;
}
.slider-cards .slick-dots li {
  margin: 0 3.5rem 0 0;
  font-size: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.71);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.slider-cards .slick-dots li:hover {
  cursor: pointer;
}
.slider-cards .slick-dots li.slick-active {
  background-color: rgba(0, 0, 0, 0.7);
}
.slider-models__slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.8;
  margin: 10rem 0 0;
}
.slider-models__content {
  width: 100%;
}
.slider-models__item {
  padding: 0;
  min-height: 100%;
  position: relative;
}
.slider-models__item:hover {
  cursor: pointer;
}
.slider-models__item:hover > .slider-card__link {
  opacity: 1;
  visibility: visible;
}
.slider-models .slider__body {
  width: 100%;
  height: 100%;
  height: 43.4rem;
}
.slider-card__link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  right: auto;
  z-index: 5;
  background: rgba(2, 2, 2, 0.6);
}
.slider-card__link,
.slider-card__link:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider-card__link:after {
  content: "";
  position: absolute;
  background-image: url(../img/svg/Buy.svg);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 10;
}
.slider-card__link:after,
.slider-models .slider-card__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.slider-models .slick-arrow {
  position: relative;
  position: absolute;
  z-index: 20;
  font-size: 0;
  width: calc((100vw - 117rem) / 2);
  height: 100%;
  background: rgba(2, 2, 2, 0.6);
}
.slider-models .slick-arrow,
.slider-models .slick-arrow:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.slider-models .slick-arrow:after {
  content: "";
  background-image: url(../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  width: 3.3rem;
  height: 6.5rem;
  z-index: 22;
}
.slider-models .slick-arrow:hover {
  cursor: pointer;
  opacity: 0.5;
}
.slider-models .slick-arrow:hover:after {
  opacity: 0.8;
}
.slider-models .slick-prev {
  left: calc((100vw - 117rem) / -2);
}
.slider-models .slick-prev:after {
  right: 5rem;
}
.slider-models .slick-next {
  right: calc((100vw - 117rem) / -2);
}
.slider-models .slick-next:after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  left: 7rem;
}
.cards__wrapper {
  margin: 10rem 0 0;
}
.cards__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cards-item {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cards-item:hover {
  cursor: pointer;
  background-color: #00a2d7;
}
.cards-item:hover .card__title {
  color: #fff;
}
.cards-item:hover .card__img--normal {
  display: none;
}
.cards-item:hover .card__img--hover {
  display: inline-block;
}
.cards-item:last-child .card {
  border-right: 1px solid #3e3e3e;
}
.card__img--normal {
  display: inline-block;
}
.card__img--hover {
  display: none;
}
.cards-item__svg {
  width: 6rem !important;
  height: 6rem !important;
}
.cards .card {
  min-height: 35.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #3e3e3e;
  border-left: 1px solid #3e3e3e;
  padding: 9rem 2rem 0 3.7rem;
  position: relative;
}
.cards .card * {
  text-align: center;
}
.cards .card__title {
  text-align: left;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 8.4rem 0 0;
  position: absolute;
  width: 80%;
  height: 15.6rem;
  top: auto;
  left: 3.7rem;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  bottom: 4.8rem;
}
.cards__title {
  text-align: center;
  padding: 0 0 2.8rem;
}
.cards__title h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
}
.models-item {
  display: grid;
  grid-template-columns: 43.2% 1fr;
  padding: 10rem 0 0;
}
.models-item__column {
  position: relative;
}
.models-item__title {
  position: relative;
  padding: 10.2rem 0 0;
}
.models-item__description {
  font-size: 2rem;
  padding: 2rem 0 0;
  line-height: 2.4rem;
}
.models-item__button {
  margin: 3.5rem 0 0;
  font-size: 20px;
  line-height: 24px;
}
.models-item__img {
  width: 100%;
  padding: 0 0 83.8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
._big-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 21rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.5rem rgba(0, 162, 215, 0.3);
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  z-index: -1;
  top: 8.5rem;
}
.insta {
  padding: 9.5rem 0 0;
}
.insta__title {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0 4.5rem;
}
.insta__title h2 {
  margin: 0;
  text-transform: uppercase;
}
.insta__title img {
  margin: 0 0 0 1.5rem;
}
.insta__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 3.2rem;
  -moz-column-gap: 3.2rem;
  column-gap: 3.2rem;
  height: 26.8rem;
}
.insta-item__img {
  width: 100%;
  height: 100%;
}
.insta__item {
  position: relative;
}
.insta__item:hover {
  cursor: pointer;
}
.insta__item:hover > .slider-card__link {
  opacity: 1;
  visibility: visible;
}
.insta__item .slider-card__link:after {
  background-image: url(../img/svg/insta-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 2.3rem;
  height: 2.3rem;
}
.footer {
  margin: 10rem 0 0;
  background: #3b3c3d;
  color: #fff;
  padding: 5rem 0 2rem;
}
.footer__body {
  display: grid;
  grid-template-columns: 31.9% 39.2% 1fr;
}
.footer-item__line,
.footer-item__property {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 1rem;
}
.footer-item__title-main {
  margin: 2.5rem 0;
}
.footer-item__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #00a2d7;
}
.footer-item__fax,
.footer-item__tel {
  display: inline-block;
}
.footer-item__fax span,
.footer-item__tel span {
  color: #00a2d7;
  text-decoration: underline;
}
.footer-item__description {
  margin: 1.4rem 0 3.8rem;
}
.footer__copyright {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  margin: -1.8rem 0 0;
}
@media (max-width: 1240px) {
  .main-title h2 {
    font-size: 5rem;
  }
  .slider-card__title {
    padding: 10% 60% 0 0;
  }
}
@media (max-width: 767px) {
  .header .new-select {
    color: #fff;
  }
  .main-title h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .header__burger {
    font-size: 2rem;
    display: inline-block;
    color: #181818;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: auto;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
    left: 0;
    padding: 17rem 2rem 0 4rem;
    overflow: auto;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header__close {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: 10px;
    left: auto;
    right: 10px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    color: #fff;
    font-size: 2rem;
  }
  .header__close:hover {
    cursor: pointer;
  }
  .menu-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .menu__item {
    margin: 0 0 2rem;
  }
  .menu__link {
    color: #fff;
  }
  .header__info {
    padding: 0 5rem 0 0;
  }
  .slider-card__title {
    padding: 38rem 60% 0 0;
  }
  .slider-card__img {
    height: 60%;
  }
  .slider-cards .slick-dots li {
    width: 1.2rem;
    height: 1.2rem;
  }
  .cards__body {
    grid-template-columns: 1fr;
  }
  .cards-item {
    width: 80%;
    margin: 0 auto;
  }
  .cards-item:nth-child(2) {
    border-right: none;
  }
  .cards .card {
    min-height: 25rem;
    border-left: 1px solid #3e3e3e;
    border-right: 1px solid #3e3e3e;
  }
  .models {
    padding: 0 0 5rem;
  }
  .models-item {
    grid-template-columns: 1fr;
  }
  .models-item__column {
    margin: 2rem 0 0;
  }
  .models-item__button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -95vw;
  }
  .insta__body {
    grid-template-columns: 1fr;
    height: auto;
    grid-gap: 3.2rem;
  }
  .footer-item__title-main {
    font-size: 1.8rem;
  }
  .footer-item__description,
  .footer-item__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 1199px) {
  .title-1 h2 {
    font-size: 3rem;
  }
  .btn--cross,
  .btn--light {
    width: 18rem;
    height: 4rem;
  }
  .container {
    margin: 0 30px;
  }
  .menu__link {
    font-size: 16px;
  }
  .slider-cards .slick-dots {
    width: calc(100vw - 6rem);
  }
  .cards .card {
    min-height: 30rem;
  }
  .cards .card__img {
    width: 5rem;
    height: 5rem;
  }
  .cards .card__title {
    font-size: 1.5rem;
  }
  .cards__title h2 {
    font-size: 2.5rem;
  }
  .models-item__description {
    font-size: 1.5rem;
  }
  ._big-number {
    font-size: 15rem;
  }
  .footer__body {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .up_down_btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .header__body {
    grid-template-columns: 10.4rem 1fr;
  }
  .slider-card__img {
    height: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .menu__item {
    margin: 0 1.7rem 0 0;
  }
  .cards__body {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  .cards-item:nth-child(2) {
    border-right: 1px solid #3e3e3e;
  }
  .models-item {
    grid-template-columns: 43.2% 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .insta__body {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    grid-gap: 3.2rem;
  }
}
@media (max-width: 1500px) {
  .slider-models__body {
    max-width: 100vw;
    margin: 0;
  }
  .slider-models .slick-arrow {
    top: 102%;
    height: 4rem;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 50vw;
  }
  .slider-models .slick-arrow:after {
    width: 1.6rem;
    height: 3.2rem;
  }
  .slider-models .slick-prev {
    left: 50%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .slider-models .slick-next {
    right: 50%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
